/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* FINE RESET */

/* LAYOUT PAGINA */
.main-wrapper {
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
header .logo {
  color: red;
  font-size: 25px;
}
header #search-movie {
  width: 300px;
  height: 30px;
  padding-left: 10px;
}
#movie-container {
  width: 100%;
  height: calc(100% - 80px);
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}

/* Inizio custom scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: #fff;
}

::-webkit-scrollbar-thumb {
  background-color: #b1b1b1;
  border-radius: 10px;
}
/* Fine custom scrollbar */
/* FINE LAYOUT PAGINA */

/* STILE FILM */
.movie {
  flex-basis: 27%;
  height: 464px;
  margin: 25px 0;
  background-color: black;
  color: white;
  border: 2px solid white;
}
.movie .cover-image {
  width: 100%;
  height: 100%;
}
.movie .default-cover {
  width: 100%;
}
.movie-info {
  width: 100%;
  height: 100%;
  padding: 25px;
  overflow-y: auto;
}
.movie ul li {
  list-style-type: none;
}
.movie .star {
  color: yellow;
}
.movie .flag {
  width: 20px;
}
.hide {
  display: none;
}
.movie:hover .cover-image,
.movie:hover .default-cover {
  display: none;
}
.movie:hover .movie-info {
  display: block;
}
/* FINE STILE FILM */
