* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.main-wrapper {
  width: 100%;
  height: 100vh;
}
header {
  width: 100%;
  height: 80px;
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}
header .logo {
  color: red;
  font-size: 25px;
}
header #search-movie {
  width: 300px;
  height: 30px;
}
#movie-container {
  width: 100%;
  height: calc(100% - 80px);
  background-color: grey;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
}
.movie {
  flex-basis: 27%;
  margin: 25px 0;
  background-color: black;
  color: white;
  border: 2px solid white;
}
.movie-info {
  width: 100%;
  height: 100%;
  padding: 25px;
}
.hide {
  display: none;
}
.movie:hover .cover-image {
  display: none;
}
.movie:hover .movie-info {
  display: block;
}
.movie ul li {
  list-style-type: none;
}
.movie img {
  width: 100%;
}
.movie .flag {
  width: 20px;
}
